/**
 * Google Fonts API
 * ================
 */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/**
 * Universal reset
 * ===============
 */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: none;
}

*::before, *::after {
    box-sizing: border-box;
}

/**
 * Global styles and utilities
 * ===========================
 */

html {
    font: 400 1em/1.75 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    letter-spacing: 0.03rem;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

a, a:link, a:visited {
    font-weight: inherit;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
 * Hero
 * ====
 */

.hero {
    padding: 3rem 0;
}

.hero-hook {
    padding-inline: 1rem;
}

.hero-hook h1 {
    margin-bottom: 1.5rem;
    font-size: 3.15rem;
    font-weight: 900;
    line-height: 1.1;
    color: #372d57;
}

.hero-copy {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2;
    color: #7b7b7b;
}

.hero-cta {
    padding: 0.75rem 0;
}

a.hero-cta-primary,
a.hero-cta-primary:link,
a.hero-cta-primary:visited {
    margin: 1.75rem 0;
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.10rem;
    line-height: 2;
    border-radius: 12px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.10);
    background-color: #372d57;
    color: #f2f2f2;
    transition: all 0.25s ease-in-out 0.15s;
}

a.hero-cta-primary:hover,
a.hero-cta-primary:active {
    text-decoration: none;
    background-color: #97d1cb;
    color: #fff;
}

.hero-media > img {
    margin: 0 auto;
}

/**
 * Social proof
 * ============
 */

#proof {
    padding: 3rem 0;
    background-color: #f8f8f8;
}

#proof h2 {
    margin-bottom: 1.5rem;
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
    color: #372d57;
}

.proof-container {
    padding-inline: 1rem;
}

.proof-container li {
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.10);
    background: #ffffff;
}

.proof-stat, .proof-descr {
    display: block;
    text-align: center;
}

.proof-stat {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: -0.05rem;
    background-image: linear-gradient(to bottom, #f6830c, #ebc96b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.proof-descr {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: #7b7b7b;
}

.proof-copy {
    margin: 0 auto;
    padding: 1.5rem 0;
    max-width: 800px;
    font-size: x-small;
    text-transform: uppercase;
    text-align: center;
    color: #aaaaaa;
}

/**
 * Flexbox layout techniques
 * =========================
 */


/** Global layout container */
.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1400px;
}

/** Page header layout */
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    display: flex;
    gap: 3rem;
}

/** Main layout technique - can be used interchangably */
.hero-container,
.proof-container,
.cta-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.hero-hook, .hero-media,
.proof-container li {
    flex: 1;
}

.cta-copy {
    flex: 4;
}

.cta-action {
    flex: 2;
}
